{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
  ],
  "env": {
    "server": {
      "plugins": [
        ["css-modules-transform", {
          "generateScopedName": "[name]__[local]___[hash:base64:5]"
        }],
        ["transform-assets", {
          "extensions": ["jpg"],
          "name": "public/img/[name].[ext]",
        }]
      ]
    }
  }
}
