* {
  box-sizing: border-box;
}

body,
body > div,
html {
  height: 100%;
  font-size: 1rem;
  @media (--phone) {
    font-size: 1.1rem;
  }
  @media (--tablet) {
    font-size: 1.2rem;
  }
  @media (--desktop) {
    font-size: 1.3rem;
  }
  @media (--large-desktop) {
    font-size: 1.4rem;
  }
}

a {
  text-decoration: none;
  color: black;
  &:visited,
  &:hover {
    color: grey;
  }
}

ul {
  list-style: none;
  padding: 0
}
