<!DOCTYPE html>
<html>
    <head>
        <title>Isomorphic app template</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="<%= favicon %>" />
    </head>
    <body>
        <div id="app"><%- html %></div>
        <script type="text/javascript" charset="utf-8">
          window.__REDUX_STATE__ = '<%= reduxState %>';
        </script>
        <% scripts.forEach(function(script) { %>
            <script src="<%= script %>"></script>
        <% }) %>
    </body>
</html>
